/* CSS in App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  border: 1px solid #acacac;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  max-width: 800px;
  background-color: #f1f2f3;
  border-radius: 15px;
  color: #000000;
}

.left-window {
  width: 200px;
  background-color: #f1f2f3;
  border-right: 1px solid #ccc;
  color: #000000;
}

.technology-view-container {
  width: 100%;
  margin-top: auto;
}
