/* CSS in App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center horizontally */
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  max-width: 1200px;
  margin: 0 auto; /* Center horizontally */
  background-color: #f1f2f3;
  border-radius: 10px;
}

.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  border: 1px solid #acacac;
  height: calc(100vh - 150px); /* Adjust 150px to the actual height of the info-panel */
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: #f1f2f3;
  color: #000000;
  width: calc(100vh - 85vh);
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto; /* Center horizontally */
  
}
