/* CSS in App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0 auto; /* Center horizontally */
  background-color: #00331c;
  height: 100vh; /* Make the App component fill the viewport height */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  max-width: 800px;    /* Ensures the element doesn't exceed the viewport width */
  box-sizing: border-box; /* Accounts for padding and borders within the element's width */
}

.content-wrapper {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  height: calc(100vh - 65px);
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: #f1f2f3;
  color: #000000;
}

.centered-container {
  background: #f1f2f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto; /* Center horizontally */
}

@media (max-width: 600px) {
  .centered-container {
    height: calc(100vh - 30px);
  }
}
