/* CSS in App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  border: 1px solid #acacac;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: #f1f2f3;
  border-radius: 15px;
  color: #000000;
}
