.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.drawer-container {
  width: 90%;
  background: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  height: 90%;
  max-height: 90%;
  position: relative;
  animation: slideIn 0.3s ease-out;
  max-width: 820px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #00331c;
  color: white;
}

.drawer-content {
  padding: 10px;
  color: black;
}

.drawer-title {
  font-size: 1.5em;
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  padding: 5px 10px;
}

.close-button:hover {
  color: red;
}

@media (max-width: 600px) {
  .drawer-container {
    width: 100%;
    height: 100%;
    max-height: 90%;
  }

  .drawer-title {
    font-size: 1.2em;
  }

  .close-button {
    font-size: 1.5em;
  }
}