.game-work-button {
  width: 30%;
  background: #0d6e3f;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  appearance: button;
  font-size: 15px;
  padding: 10px 20px;
  box-shadow:
  inset 0 0 2px 0 rgba(255,255,255,.4),
  inset 0 0 3px 0 rgba(0,0,0,.4),
  inset 0 0 3px 5px rgba(0,0,0,.05),
  2px 2px 4px 0 rgba(0,0,0,.25);
  border-radius: 4px;
}

.game-work-button,
.game-work-button:focus {
  user-select: auto;
}

.game-work-button:hover {
  background: #0b5a34;
}

.game-work-button:disabled {
  background: grey;
  cursor: not-allowed;
}

.game-work-button:active {
  border-width: 4px 0 0;
  background: #0a5230; /* Darken the background color */
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* Add inset shadow */
}

.game-work-button.auto-ship {
  background: #e96f0b;
}

.game-work-button.auto-ship:hover {
  background: rgb(255, 176, 79)
}

.hotkey-info {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .game-work-button {
    font-size: 14px;
  }

  .hotkey-info {
    font-size: 10px;
  }

  .product-info {
    padding: 4px;
  }

  .product-info p {
    line-height: 10pt;
  }

  .product-info h3 {
    margin-bottom: -8px;
  }
}