.game-work-button {
  width: 120px;
  height: 100%;
  border-radius: 8px; /* Rounded corners */
  border: none;
  background: #0d6e3f;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  appearance: button;
  border: solid transparent;
  border-radius: 8px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  padding: 13px 16px;
  text-align: center;
  vertical-align: middle;
  width: 120px;
}

.game-work-button:after {
  background-clip: padding-box;
  background: #0d6e3f;
  border: solid transparent;
  border-radius: 8px;
  border-width: 0 0 4px;
  bottom: -4px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.game-work-button,
.game-work-button:focus {
  user-select: auto;
}

.game-work-button:hover {
  background: #0b5a34;
}

.game-work-button:disabled {
  background: grey;
  cursor: not-allowed;
}

.game-work-button:active {
  border-width: 4px 0 0;
  background: #0a5230; /* Darken the background color */
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* Add inset shadow */
  padding-top: 14px; /* Reduce top padding */
  padding-bottom: 12px; /* Reduce bottom padding */
}

.game-work-button.auto-ship {
  background: linear-gradient(145deg, #ff8c00, #ff4500);
}

.game-work-button.auto-ship:hover {
  background: linear-gradient(145deg, #ff4500, #ff8c00);
}

.hotkey-info {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .game-work-button {
    width: 80px;
    height: 80px;
    font-size: 14px;
  }

  .hotkey-info {
    font-size: 10px;
  }

  .product-info {
    padding: 4px;
  }

  .product-info p {
    line-height: 10pt;
  }

  .product-info h3 {
    margin-bottom: -8px;
  }
}