
.game-work-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.info-section p {
  text-wrap: nowrap;
  font-size: 14px;
  flex: 1 1 calc(50% - 20px);
}

.main-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}