.progress-bar-container {
  position: relative;
  width: 100%;
  height: 37px;
  background: linear-gradient(180deg, #a4a4a4, #f0f0f0, #a4a4a4);
  border-radius: 0 16px 16px 0;
  border: 1px solid #000000;
}

.progress-bar-container.error {
  border: 2px solid red;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(0deg, #0b5a34, #82d3ac,  #0b5a34);
  border-radius: 0 16px 16px 0;
  border-right: 2px solid #000000;
  transition: none; /* Disable transition for instant reset */
}

.progress-bar.smooth {
  transition: width linear; /* Remove fixed duration */
}

.progress-bar.automated {
  background: linear-gradient(0deg, #dd4a0c, #ff9c72,  #dd4a0c);
}

.progress-bar.flash {
  animation: pulse 1s infinite, shake 0.1s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  75% { transform: translateX(4px); }
}

.progress-label {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 30px; /* Align text vertically within the progress bar */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bold;
}

@media (max-width: 600px) {
  .progress-bar-container {
    width: 100%;
  }
}