.build-product-container {
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.build-main-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.building-state {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 30px; /* Align text vertically within the progress bar */
}

.build-product-info {
  cursor: pointer; /* Add cursor pointer for clickable product name */
  word-wrap: break-word; /* Ensure long text wraps within the container */
}

.build-product-info h3 {
  font-size: 16px;
  color: #000000;
}

.build-product-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #555555;
}

.build-product-emoji {
  font-size: 24px;
  margin-right: 10px;
}

.build-info {
  display: flex; /* Add flex display */
  flex-wrap: wrap; /* Allow items to wrap */
  margin-top: 10px;
  margin-bottom: 10px;
}

.build-info p {
  cursor: pointer; /* Add cursor pointer for hoverable total cost */
  flex: 1 1 calc(50% - 20px); /* Flex items to take up half the container width minus the gap */
}

.build-col1-info, .build-col2-info, .build-col3-info {
  width: 30%; /* Set width to make them side by side */
  display: flex; /* Add flex display */
  flex-direction: column; /* Ensure items stack vertically within each column */
}

.build-info button {
  background: #0d6e3f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.build-col3-info button:hover {
  background: #0b5a34;
}

.blurred-value {
  filter: blur(5px);
  animation: blurAnimation 30s forwards;
}

.check-inventory-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.progress-bar-container full{
  width: 100%;
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: absolute; /* Position absolute for cursor positioning */
  color: #000000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tech-label {
  font-size: 14px; /* Adjust font size */
  margin-top: 5px;
  text-align: center;
  color: white;
  margin-left: 5px; /* Add margin to separate emoji from text */
}

.toolbar {
  width: 100%;
  background-color: #f1f2f3;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

.build-product-progress-bar-container {
  width: calc(100% - 260px);
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  .build-product-container {
    width: auto;
  }
}

@keyframes blurAnimation {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(5px);
  }
}

.low-inventory p {
  color: red;
  font-weight: bold;
}