.build-product-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.build-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.build-button {
  width: 120px;
  height: 120px;
  border-radius: 15px; /* Rounded corners */
  border: none;
  background: #0d6e3f;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.build-button:hover {
  background: #0b5a34;
  transform: scale(0.95); /* Push-in animation */
}

.build-button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.build-button.auto-build {
  background: linear-gradient(145deg, #ff8c00, #ff4500);
}

.build-button.auto-build:hover {
  background: linear-gradient(145deg, #ff4500, #ff8c00);
}

.building-state {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 30px; /* Align text vertically within the progress bar */
}

.product-info {
  min-width: 500px;
  margin-left: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* Add cursor pointer for clickable product name */
}

.product-info h3 {
  margin-top: 0;
  font-size: 16px;
  color: #000000;
}

.product-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #555555;
}

.product-info img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.cost-info {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
  text-align: left; /* Left-align text */
  display: flex; /* Add flex display */
  justify-content: space-between; /* Space between the three sections */
}

.cost-info p {
  margin: 5px 0;
  cursor: pointer; /* Add cursor pointer for hoverable total cost */
}

.cost-info table {
  width: 100%;
  border-collapse: collapse;
}

.cost-info td {
  padding: 5px 10px;
}

.shipping-info, .profit-info, .inventory-info {
  width: 30%; /* Set width to make them side by side */
  display: flex; /* Add flex display */
  flex-direction: column; /* Ensure items stack vertically within each column */
}

.inventory-info button {
  background: #0d6e3f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.inventory-info button:hover {
  background: #0b5a34;
}

.blurred-value {
  filter: blur(5px);
  animation: blurAnimation 30s forwards;
}

.check-inventory-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.progress-bar-container full{
  width: 100%;
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: absolute; /* Position absolute for cursor positioning */
  color: #000000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tech-label {
  font-size: 14px; /* Adjust font size */
  margin-top: 5px;
  text-align: center;
  color: white;
  margin-left: 5px; /* Add margin to separate emoji from text */
}

.toolbar {
  width: 100%;
  background-color: #f1f2f3;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

.build-product-progress-bar-container {
  width: calc(100% - 140px);
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  .product-info {
    min-width: 100%;
    margin-left: 0;
  }

  .cost-info {
    flex-direction: column;
  }

  .shipping-info, .profit-info, .inventory-info {
    width: 100%;
  }

  .inventory-info button {
    width: 100%;
  }
  
  .build-product-progress-bar-container {
    width: calc(100% - 20px);
  }
}

@keyframes blurAnimation {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(5px);
  }
}