.end-game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f2f3;
  color: #000000;
  padding: 20px;
}

.end-game-view h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.end-game-view p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.end-game-view ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.end-game-view li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.tech-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tech-table th, .tech-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tech-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.tech-table-container {
  overflow-y: auto;
  width: 100%;
}

.new-game-button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #0d6e3f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.new-game-button:hover {
  background-color: #0b5a34;
}

.new-game-button:active {
  transform: scale(0.95);
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.banner-ad {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner-ad img {
  height: 50px;
  margin-right: 10px;
}

.banner-ad p {
  font-size: 1.2em;
  color: #333;
  margin: 0;
  text-align: center;
}

.tech-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 divs wide */
  gap: 10px;
  margin-bottom: 20px;
}

.end-game-tech-tree-emoji {
  font-size: 24px;
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #8a8a8a; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  padding: 2px 4px; /* Padding for better appearance */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .end-game-view {
    padding: 10px;
  }

  .end-game-view h1 {
    font-size: 1.5em;
  }

  .end-game-view p {
    font-size: 1em;
  }

  .new-game-button {
    width: 100%;
    font-size: 1em;
  }

  .stats-grid {
    grid-template-columns: 1fr;
  }
}