.game-work-button {
  width: 120px;
  height: 120px;
  border-radius: 15px; /* Rounded corners */
  border: none;
  background: #0d6e3f;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
  appearance: button;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.game-work-button:after {
  background-clip: padding-box;
  background: #0d6e3f;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.game-work-button,
.game-work-button:focus {
  user-select: auto;
}

.game-work-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.game-work-button:hover {
  background: #0b5a34;
  transform: scale(0.95); /* Push-in animation */
}

.game-work-button:disabled {
  background: grey;
  cursor: not-allowed;
}

.game-work-button:active {
  border-width: 4px 0 0;
  background: none;
}

.game-work-button.auto-ship {
  background: linear-gradient(145deg, #ff8c00, #ff4500);
}

.game-work-button.auto-ship:hover {
  background: linear-gradient(145deg, #ff4500, #ff8c00);
}

.hotkey-info {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .game-work-button {
    width: 80px;
    height: 80px;
    font-size: 14px;
  }

  .hotkey-info {
    font-size: 10px;
  }
}