.info-panel {
  width: 100%;
  background-color: #00331c;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ffffff;
}

.info-panel h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

.info-panel .info-values {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.info-panel .info-values div {
  text-align: center;
}

.info-panel p {
  margin: 5px 0;
}

.delta-positive {
  animation: deltaUp 1s ease-in-out;
  color: green;
}

.delta-negative {
  animation: deltaDown 1s ease-in-out;
  color: red;
}

.delta-label {
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  margin-left: -50px;
  margin-top: -20px;
  opacity: .75;
  text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000, 1px -1px 2px #000000, -1px 1px 2px #000000;
}

.negative-money {
  color: red;
}

@keyframes deltaUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes deltaDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes deltaAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .info-panel .info-values div p {
    margin: 2px 0;
  }
  .delta-label {
    font-size: 18px;
    margin-left: -40px;
    margin-top: -10px;
  }
}