
.info-panel {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.info-panel h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-panel .info-values {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.info-panel .inventory-values {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 40%;
}

.info-panel p {
  margin: 5px 0;
}