.info-panel {
  width: 100%;
  background-color: #00331c;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ffffff;
}

.info-panel h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-panel .info-values {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.info-panel p {
  margin: 5px 0;
}

.delta-positive {
  animation: deltaUp 1s ease-in-out;
  color: green;
}

.delta-negative {
  animation: deltaUp 1s ease-in-out;
  color: red;
}

.delta-label {
  position: absolute;
  animation: deltaAnimation 2s ease-in-out;
  font-size: 40px;
  font-weight: 700;
  margin-left: -50px;
  margin-top: -30px;
  text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000, 1px -1px 2px #000000, -1px 1px 2px #000000;
}

.negative-money {
  color: red;
}

@keyframes deltaUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes deltaDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes deltaAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .info-panel p{
    font-size: 12px;
  }
}