.initial-view {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  flex-grow: 1; /* Allow the component to grow and fill available space */
}

.login-box {
  margin: 40px 10px 10px 10px;
  padding: 10px;
  background-color: #e6e6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
  border: 1px solid #a9a9a9; /* Medium gray border */
  border-radius: 5px; /* Border radius */
}

/* Remove .game-title styles */
.game-description {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.initial-view-title-image {
  width: 50%;
  margin-bottom: 20px;
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
  margin-left: 10px;
  text-align: left; /* Left align the labels */
}

.form-group input {
  width: 90%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-account-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #0d6e3f; /* Use the same green as game-work-button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-account-button:hover {
  background-color: #0b5a34; /* Use the same hover color as game-work-button */
}

.create-account-button:disabled {
  background-color: grey; /* grey color when disabled */
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.loading-message {
  color: #007bff; /* blue color */
  margin-top: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  width: 80%;
}

.ready-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #0d6e3f; /* Use the same green as game-work-button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.ready-button:hover {
  background-color: #0b5a34; /* Use the same hover color as game-work-button */
}

.start-over-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: grey; /* grey button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.start-over-button:hover {
  background-color: darkgrey; /* darker grey on hover */
}

.account-info-you-sell-text {
  margin-top: 20px;
}

.descriptive-block {
  text-align: justify;
  text-justify:newspaper;
  font-style:italic;
}

@media (max-width: 600px) {
  .initial-view-title-image {
    width: 70%;
  }
  .login-box {
    margin-top: 10px;
  }
}
