.left-window {
  min-height: 650px;
  width: 200px;
  background-color: #f1f2f3;
  border-right: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  color: #000000;
  max-height: calc(100vh - 150px); /* Adjust 150px to the actual height of the info-panel */
  overflow-y: auto;
  min-width: 85px; /* Ensure a minimum width */
}

.order-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-card h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.order-card p {
  margin: 0;
  font-size: 14px;
  color: #555555;
}

.order-card.urgent {
  background-color: #fffacd;
  border-color: #ffd700;
  font-weight: bold;
}

.order-card.active {
  background-color: #a3d0ae; /* Light green background */
  border-color: #1f7833;
  font-weight: bold;
}

.order-card.empty {
  background-color: #e0e0e0;
  border: 1px dashed #ccc;
  text-align: center;
  color: #888;
}

.order-card.very-urgent {
  background-color: #ffcccc; /* Light red background */
  border-color: #ff0000;
  font-weight: bold;
}

@media (max-width: 600px) {
  .left-window {
    width: 100%;
    padding: 0px;
    min-height: 0px;
    /* allow scrolling */
    overflow-y: auto;
    background-color: #ffffff;
    max-width: 85px;
    min-width: 85px; /* Ensure a minimum width */
  }

  .p {
    font-size: 12px;
  }

  .order-card {
    padding: 3px;
    margin-bottom: 5px;
  }

  .order-card p {
    font-size: 12px;
  }

  .order-card h3 {
    font-size: 14px;
  }
}