.order-view {
  background-color: #f1f2f3;
  box-sizing: border-box;
  color: #000000;
  min-width: 85px; /* Ensure a minimum width */
  display: flex;
  gap: 4px;
  margin-top: 10px;
  max-width:100%;
  min-height: 81px;
}

@media (max-width: 600px) {
  .order-view {
    width: 100%;
    padding: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #ffffff;
    margin-top: 1px;
  }

  .p {
    font-size: 12px;
  }
}