.ship-order-container {
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.shipping-main-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ship-button {
  width: 120px;
  height: 120px;
  border-radius: 15px; /* Rounded corners */
  border: none;
  background: #0d6e3f;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.ship-button:hover {
  background: #0b5a34;
  transform: scale(0.95); /* Push-in animation */
}

.ship-button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.ship-button.auto-ship {
  background: linear-gradient(145deg, #ff8c00, #ff4500);
}

.ship-button.auto-ship:hover {
  background: linear-gradient(145deg, #ff4500, #ff8c00);
}

.shipping-state {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 30px; /* Align text vertically within the progress bar */
}

.shipping-info {
  display: flex; /* Add flex display */
  flex-wrap: wrap; /* Allow items to wrap */
  margin: 10px;
  overflow-x: hidden;
}

.shipping-info p {
  text-wrap:nowrap;
  font-size: 14px;
  flex: 1 1 calc(50% - 20px); /* Flex items to take up half the container width minus the gap */
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: absolute; /* Position absolute for cursor positioning */
  color: #000000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ship-order-progress-bar-container {
  width: calc(100% - 260px);
  margin-bottom: 0px;
}

.high-shipping-cost {
  color: red;
  font-weight: bold;
}

.freaked-out-emoji {
  margin-left: 5px;
}

.initial-state-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  background-color: #f0f0f0;
  color: #888;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 600px) {
  .ship-order-container {
    width: calc(100vw - 40px);
  }

  .ship-order-progress-bar-container {
    width: calc(100% - 20px);
  }

  .product-info {
    margin-left: 0;
  }
}