.toolbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f1f2f3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toolbar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #e0e0e0;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.tech-level {
  font-weight: bold;
  font-size: 16px;
}

.tech-card {
  width: 24%;
  min-height: 240px;
  max-width: 250px;
  margin: 10px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-size: 14px;
  padding: 4px;
  color: #000000;
}

.tech-name {
  font-weight: bold;
  margin-top: 10px;
}

.tech-description {
  margin-top: 5px;
  padding: 0 10px;
}

.tech-cost {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.tech-effect {
  margin-top: 20px;
  font-style: italic;
}

.buy-button {
  position: absolute;
  width: 75%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #0d6e3f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.1s ease-in-out;
  font-weight: bold;
}

.buy-button:hover {
  background: #0b5a34;
}

.buy-button:active {
  transform: translateX(-50%) scale(0.95);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #000000;
}

.modal-content button {
  margin: 10px;
}

.news-message {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 10px;
}
