.tech-level {
  font-weight: bold;
  font-size: 16px;
}

.tech-card {
  width: 24%;
  min-height: 290px; /* Increased height by 50px */
  max-width: 250px;
  margin: 10px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #fff0ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add drop shadow */
  overflow: hidden;
  font-size: 14px;
  padding: 4px;
  color: #000000;
  transform: rotate(calc(var(--rotate-angle, 0) * 1deg)); /* Add rotation */
}

.technology-view-container {
  width: 100%;
}

.tech-name-section {
  background-color: #7d57a3;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 0;
}

.tech-name {
  font-weight: bold;
  font-size: 18px; /* Larger text */
  color: white; /* White text */
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}

.tech-description {
  margin-top: 5px;
  padding: 0 10px;
}

.tech-effect {
  margin-top: 20px;
  font-style: italic;
}

.buy-button {
  position: absolute;
  width: 75%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #630d6e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.1s ease-in-out;
  font-weight: bold;
}

.buy-button:hover {
  background: #852093;
}

.buy-button:active {
  transform: translateX(-50%) scale(0.95);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #000000;
}

.modal-content button {
  margin: 10px;
}

.news-message {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.technology-drawer-container {
  height: 500px;
}

.tech-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  perspective: 1000px; /* Add perspective for 3D effect */
}

.tech-card:nth-child(1) {
  --rotate-angle: -2; /* Tilt left */
  top: 8px;
}

.tech-card:nth-child(3) {
  --rotate-angle: 2; /* Tilt right */
  top: 8px;
}

.tech-kb-link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.tech-kb-link:hover {
  text-decoration: underline;
}