.title-bar {
    width: 100%;
    background-color: #00331c;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.title-bar h1 {
    font-size: 24px;
    margin-left: 20px;
}

.subtitle {
    font-size: 16px;
    margin-left: 20px;
    color: #cccccc;
}

.settings-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.settings-button:focus {
    outline: none;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.title-bar-button {
  background-color: #004d26;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-bar-button span {
  display: block;
  text-align: center;
}

.title-bar-button span:last-child {
  font-size: 12px;
  margin-top: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  background-color: #004d26;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color: #8ea299;
}

.modal-content button.confirm {
  background-color: #8B0000; /* Dark red color */
}

.modal-content button.confirm:hover {
  background-color: #660000; /* Slightly darker red on hover */
}

.modal-content button.cancel {
  background-color: #d3d3d3; /* Light grey color */
  color: #000000; /* Black text color */
}

.modal-content button.cancel:hover {
  background-color: #a9a9a9; /* Darker grey on hover */
}

.modal-content .emoji {
  font-size: 50px;
  margin-bottom: 20px;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}